.course-details-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #fff;
  color: #000;
  line-height: 1.5;
}

.semester-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.course-header {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center the course title */
}

.course-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center; /* Center the course title */
  margin: 0;
}

.course-credit-right {
  align-self: flex-end; /* Align the credits to the right */
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px; /* Add a little space above */
}

.section {
  margin-top: 20px;
}

.section-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-decoration: underline;
}

.course-topic {
  margin-bottom: 10px;
}

.topic-title {
  font-weight: bold;
  text-transform: uppercase;
}

.topic-desc {
  margin-left: 20px;
}

.total-hours {
  text-align: right;
  margin: 20px 0;
  font-size: 1.1em;
  font-weight: bold;
}

.book-list {
  padding-left: 20px;
}

.book-item {
  margin-bottom: 10px;
}
